$clr-p-lime-green: hsl(163, 72%, 41%);
$clr-p-bright-red: hsl(356, 69%, 56%);
$clr-p-facebook:hsl(208, 92%, 53%) ;
$clr-p-twitter:hsl(203, 89%, 53%) ; 
$clr-p-instagram-l-grad1:hsl(37, 97%, 70%);
$clr-p-instagram-l-grad2: hsl(329, 70%, 58%);
$clr-p-youtube: hsl(348, 97%, 39%);

$clr-dark-theme-toggle-bg-1: hsl(210, 78%, 56%);
$clr-dark-theme-toggle-bg-2: hsl(146, 68%, 55%);

$clr-light-theme-toggle: hsl(230, 22%, 74%);

$clr-n-ltheme-white:hsl(0, 0%, 100%) ; 
$clr-n-ltheme-v-pale-blue: hsl(225, 100%, 98%); 
$clr-n-ltheme-l-grayish-blue:hsl(227, 47%, 96%) ;
$clr-n-ltheme-d-grayish-blue: hsl(228, 12%, 44%); 
$clr-n-ltheme-v-dark-blue: hsl(230, 17%, 14%); 

$clr-n-dtheme-v-dark-blue: hsl(230, 17%, 14%); 
$clr-n-dtheme-v-dark-blue-bg: hsl(232, 19%, 15%); 
$clr-n-dtheme-d-desatur-blue:hsl(228, 28%, 20%) ;
$clr-n-dtheme-desatur-blue: hsl(228, 34%, 66%); 
$clr-n-dtheme-white: hsl(0, 0%, 100%);


$font-weights: (
    'regular': 400, 'bold': 700
);

$f-family: 'Inter', sans-serif;

$fs-counter: 2rem;
